<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Packet Analysis Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Packet Analysis Tool</h1>

    <h2>Upload a pcap file for analysis</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit">
    </form>
    

    <h2>Or</h2>

    <h2>Run Live Packet Analysis</h2>
    <form action="/start" method="POST">
        <!-- Display the hardcoded interface -->
        <label for="interface">Using Interface:</label>
        <input type="text" id="interface" name="interface" value="\\Device\\NPF_{3958AAE7-B2D7-4302-9F76-EA8AD698D618}" readonly>
        <button type="submit">Start Analysis</button>
    </form>
    

</body>
</html>
