<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Packet Analysis Tool</title>
</head>
<body>
    <h1>Packet Analysis Tool</h1>

    <h2>Upload a pcap file for analysis</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <h2>Or</h2>

    <h2>Run Live Packet Analysis</h2>
    <form action="/" method="POST">
        <select name="interface">
            {% for interface in interface_names %}
                <option value="{{ interface['name'] }}">{{ interface }}</option>
            {% endfor %}
        </select>
        <button type="submit">Start Analysis</button>
    </form>
    

</body>
</html>
